In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy

## Importing data

In [2]:
data_frame = pd.read_csv('flower.csv',delimiter=',',header=0)
data_frame.head()

   sepal length  sepal width  petal length  petal width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
data_frame2 = pd.read_csv('flower.csv',delimiter=',',header=0,chunksize=20)
for chunk in data_frame2:
    print(len(chunk))
    print('This is the index range of the first row of the chunk: {}'.format(chunk.index))
print("Once you iterate all the chunks, You have to reload the dataframe, Once used it\'s gone!")

20
This is the index range of the first row of the chunk: RangeIndex(start=0, stop=20, step=1)
20
This is the index range of the first row of the chunk: RangeIndex(start=20, stop=40, step=1)
20
This is the index range of the first row of the chunk: RangeIndex(start=40, stop=60, step=1)
20
This is the index range of the first row of the chunk: RangeIndex(start=60, stop=80, step=1)
20
This is the index range of the first row of the chunk: RangeIndex(start=80, stop=100, step=1)
20
This is the index range of the first row of the chunk: RangeIndex(start=100, stop=120, step=1)
20
This is the index range of the first row of the chunk: RangeIndex(start=120, stop=140, step=1)
10
This is the index range of the first row of the chunk: RangeIndex(start=140, stop=150, step=1)
Once you iterate all the chunks, You have to reload the dataframe, Once used it's gone!

In [4]:
data_frame = pd.read_csv('https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv',delimiter=',',header=0)
data_frame.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
new_df = pd.read_excel('iris.xls',sheet_name=0,header=1)

In [6]:
new_df.head()

,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Class
0,7.0,3.2,4.7,1.4,Iris-versicolor
1,6.4,3.2,4.5,1.5,Iris-versicolor
2,6.9,3.1,4.9,1.5,Iris-versicolor
3,5.5,2.3,4.0,1.3,Iris-versicolor
4,6.5,2.8,4.6,1.5,Iris-versicolor